body {
	background-color: rgb(238, 238, 238);
}
  
h1 {
	color: navy;
	margin-left: 20px;
}

#return {
	position:absolute;
	bottom: 0px;
	left: 50%;
	margin-left: -50px;
}

div.form2 {
	display:inline;
	vertical-align:bottom;
}

.wrapper {
	display: block;
	margin-left: auto;
	margin-right: auto;
	padding: 10px;
}

.button {
    position: absolute;
    top: 50%;
}

#tbl {
	border: 3px solid green;
	text-align: center;
}