body {
	background-color: rgb(238, 238, 238);
}

a:link {
	color:inherit;
}
  
h1 {
	color: navy;
	margin-left: 20px;
}

.button {
	position:absolute;
	bottom: 0px;
	left: 50%;
	margin-left: -50px;
}


div.form2 {
	display:inline;
	vertical-align:bottom;
}

div.login {
	display:inline-block;
	width:300px;
}

div.join{
display:inline-block;
vertical-align:top;
width:300px;
}

.wrapper {
	margin: auto;
	width: 50%;
	padding: 10px;
}


#tbl {
	border: 3px solid green;
	text-align: center;
	margin: auto;
	width: 50%;
	padding: 10px;
}

#return {
	position:absolute;
	bottom: 0px;
	left: 50%;
	margin-left: -50px;
}

div.button_wrapper {
	display: flex;
	align-items: center;
	justify-content: center;
}


#nav {
display:block;
align-items: center;
justify-content: center;
height: 100px;
width: 900px;
background: #117848;
background: url(../bg-header.jpg);
margin-left: auto;    /*   These are the    */
margin-right: auto; /* important lines! */
}

#nav table {
	position:block;
	border-spacing:0px; 
	top:0;
	margin-left: auto;    /*   These are the    */
	margin-right: auto; /* important lines! */
}

#nav td{
	width:240px;
	height:24px; 
	color: white;
	text-align:center;
	z-index:10;
	transition: all 2s ease;
	}

#nav td:hover{
	display:block;
	background:rgb(228, 10, 10);
	margin-left: auto;    /*   These are the    */
	margin-right: auto; /* important lines! */
	width:240px;
	height:24px; 
}
	
#nav ul.a1:hover {
	display:block;
	width:240px;
	background-color:rgb(34, 178, 53);
	z-index:10;
	margin-left: auto;    /*   These are the    */
	margin-right: auto; /* important lines! */
	text-align:center;
}

#nav ul{
	margin-left: auto;    /*   These are the    */
	margin-right: auto; /* important lines! */
	list-style: none;
	border: 2px solid #000000;
}

#nav ul.tab1 {
	margin-left: auto;    /*   These are the    */
	margin-right: auto; /* important lines! */
	list-style: none;
	border: 0px;
	height:24px;
}

#nav li {
width:239px;
border: 1px solid white;
}

#nav li:hover {
	background: black;
	transition: all 0.9s ease;
}
	

#nav li.tab1 {
height:24px;
}

#nav li.b2 {
	display:none;
	width:240px;
	border: 1px solid #000000;
}

ul.a1 {
display:none;
}





