body {
	background-color: rgb(238, 238, 238);
}
  
h1 {
	color: navy;
	margin-left: 20px;
}

.button {
	position:absolute;
	bottom: 0px;
	left: 50%;
	margin-left: -50px;
}


div.form2 {
	display:inline;
	vertical-align:bottom;
}

div.login {
	display:inline-block;
	width:300px;
}

div.join{
display:inline-block;
vertical-align:top;
width:300px;
}

.wrapper {
	margin: auto;
	width: 50%;
	padding: 10px;
}


#tbl {
	border: 3px solid green;
	text-align: center;
	margin: auto;
	width: 50%;
	padding: 10px;
}

#return {
	position:absolute;
	bottom: 0px;
	left: 50%;
	margin-left: -50px;
}

div.button_wrapper {
	display: flex;
	align-items: center;
	justify-content: center;
}

ul.tab1 
{
list-style: none;
border: 0px;
}

#nav {
display:block;
align-items: center;
justify-content: center;
height: 149px;
width: 980px;
margin: 0 0 0 0;
background: #117848;
background: url(../bg-header.jpg);
}

#nav a:hover {
color: #8370ff;
background: black;
}

#nav ul{
list-style: none;
border: 2px solid #000000;
}

#nav li {
width:239px;
border: 1px solid #000000;
}

#nav ul.tab1 {
height:24px;
}

#nav li.tab1 {
height:24px;
}

#nav li:hover {
background: black;
transition: all 0.9s ease;
}
#nav li.b2 {
width:237px;
border: 1px solid #000000;
}
#nav table {
position:absolute;
border-spacing:0px; 
top:0;
}
ul.a1 {
display:none;
}

#nav td{
width:240px;
height:24px; 
background-color:#8370ff; 
text-align:center;
z-index:10;
transition: all 2s ease;
}

#nav td:hover ul.a1 {
display:block;
width:239px;
position:absolute;
background-color:#B22222;
z-index:10;
left:246px;
top:26px;
text-align:left;
}

#nav td:hover{
background:black;
}

ul.b2 {
display:none;
}
